body{
    margin: auto;
    padding: auto;
}
.container{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.box1{
    width: 45%;
    height: 200px;
    background-color: gray;
    display: block;
    justify-content: space-between;
}
.box2{
    width: 45%;
    height: 200px;
    background-color: grey;
    border-color: black;
    display: flex;
    justify-content: center;
}
img{
    
    margin-left: 50px;
    margin-top: 1px;
    margin-bottom: 1px;
}
h2{
    padding: 2px;
    margin-top: 4px;
    margin-bottom: 1px;
}

