body{
    margin: auto;
    padding: auto;
}
.container{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.box1{
    width: 45%;
    height: 200px;
    background-color: rgb(120, 32, 32); 
    border-radius:5px dashed rgb(64, 223, 20);
    border: 12px;
}
.box2{
    width: 45%;
    height: 200px;
    /* background-color: grey; */
    border-radius: 3px solid green;
}
img{
    
    margin-left: 50px;
    margin-top: 1px;
    margin-bottom: 1px;
}
h2{
    padding: 2px;
    margin-top: 4px;
    margin-bottom: 1px;
}

